taski.md

# Pliki budowania
/build/
/cmake-build-debug/
/cmake-build-release/
/compile_commands.json

# Pliki IDE
.idea/
cmake-build-*/

# Pliki edytora
*.swp
*.swo
.netrwhist
undo/

# binarki
SysKaWu
example_users.db
